deeplake==3.9.15
llama-index==0.10.58
python-dotenv==1.0.1
gradio==4.11.0
openai==1.37.1
llama-index-vector-stores-deeplake==0.1.5
llama-index-retrievers-bm25==0.2.2
llama-index-readers-string-iterable==0.1.2
numpy
ultralytics==8.0.120
